@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/*Container*/
.main {
  background-color: #F4E6E6;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Pour empêcher la barre de défilement horizontale */
}


/* Ajouter ces styles pour encadrer les inputs dans leftContainer */
.inputContainer {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: solid 3px #FF4D4D;
  font-family: 'Montserrat', sans-serif;
}

/* Ajouter ces styles pour les titres au-dessus des inputs */
.inputTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}



.container {
  font-family: 'Montserrat', sans-serif;
  display: flex; 
  max-height: 86vh;
}

.leftContainer {
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 30px;
  margin-bottom:150px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.middleContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  margin-top: 5%;
  margin-right: 30px;
  flex: 1; 
  padding: 10px; 
}

  .whiteContainer {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: solid 3px #FF4D4D;
  }

  .information {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  } 

  .infoAcheteur {
    flex-direction: flex-start;
    margin-left:50px;
    margin-bottom:20px;
    display:space-between;
  }

  .inputRange {
    width: 100%;
  }

  .radioContainer {
    flex: 1;
    flex-direction: column;
    gap: 20px; 
  }

/*Texte*/

.p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: black;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 900;
    color: #ff4d4d;
    margin-top:100px;
    display:inline;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ff4d4d;
}

  .title {
    margin-top: 0;
  }

  

.inputText {
    height: 50px;
    width: 100%;
    border: none;
  }

  .inputRange {
    width: 100%;
    display: flex;
  }

  .inputFile {
cursor: pointer;
  }

  .information {
    display: flex-start;
    flex-direction: column;
    margin-left: 20px;
  }

  .informationInput {
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    margin-top: 30px;

  }

.inputDesc {
  height: 100px;
  width: 100%;
  border: none;
  }

.fileLabel{
    position: absolute;
    right: 5%;
    top: 50%; 
    padding: 10px 20px;
    background-color: #FF4D4D;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    border: none;
  }

.fileLabel {
    padding: 10px;
    background-color: #ff4d4d;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }

.downloadIcon {
    width: 30px;
    height: 30px;
  }

.warningMessage {
  color: #ff4d4d;
  font-weight: bold;
}

/*Boutons*/


.button {
  padding: 1vh 4vw;
  background-color: #FF4D4D;
  border-color: white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 100px; /* Ajoute une marge en bas pour séparer les boutons */
  margin-top: 100px;
}

.button2 {
  padding: 1vh 4vw;
  background-color: #FF4D4D;
  border-color: white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-bottom: 30px; /* Ajoute une marge en bas pour séparer les boutons */
  margin-top: 100px;
}

.infoButton {
    background-color: #ff4d4d;
    border-radius: 20px;
    height:25px;
    width:25px;
    cursor:pointer;
    display:inline;
    margin-left:10px;
  }

  .buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 4vw;
    margin: 20%;
    background-color: #FF4D4D;
    border-color: white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-left: 165px;
    }

    .buttonAdd {
      position: relative;
      z-index: 2;
      justify-content: center;
      align-items: center;
      background-color: #FF4D4D;
      border-color: white;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      border-radius: 40px;
      font-weight: 600;
      cursor: pointer;
      border: none;
      display: block; 
      padding: 1vh 3vw;
      margin: 20%;
    }

  /*Image*/

  .carrousel{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 10px;
    }
