/* Styles pour le header */
.header {
    width: 100%;
    height: 10vh;
    background-color: white;
    text-align: center;
  }
  
  /* Styles pour le container */
  .container {
    background-color: #F4E6E6;
    text-align: center; /* Pour centrer le titre */
    margin: 0 auto; /* Pour centrer le container horizontalement */
    width: 100%; /* Vous pouvez ajuster la largeur selon vos préférences */
    height: 90vh;
    display: flex;
    flex-direction: row;
  }
  
  /* Styles pour le titre */
  .title {
    margin-top: 0; /* Supprime la marge par défaut du titre */
  }
  

  /* Styles pour le bouton */
  .button {
    height: 20px;
    width: 200px;
    margin-top: 10px; /* Ajoute un peu d'espace au-dessus du bouton */
    color: red
  }

  .inputText {
    height: 50px;
    width: 80%
  }

  .leftContainer {
    background-color: #F4E6E6;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .middleContainer {
    background-color: #F4E6E6;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .rightContainer {
    background-color: #F4E6E6;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }
  
  