@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/*Header*/
.header {
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:0;
  grid-row-end:1;
  background-color: white;
}

/*Container*/
.main {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: #F4E6E6;
  position: absolute;
}

.container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  background-color: white;
  width: 90%; 
  height: 90%; 
  border-radius: 10px;
  border: solid 6px #FF4D4D;
  align-items: center;
  justify-content: center;
  margin: auto; 
  position: absolute; 
  top: 0; right: 0; bottom: 0; left: 0; 
}
.leftContainer, .rightContainer {
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  font-size: 14px;
  align-items: flex-start;
  justify-content: space-between; 
  height: 100%;
  display: flex; 
}

.middleContainer {
    flex: 1;

  }

  .rightContainer {
    flex: 1;
  }

  .leftContainer {
    flex: 1;


  }

  .radioContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }

.downloadDocuments {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px
;}

/*Texte*/

.p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ff4d4d;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 900;
    color: #ff4d4d;
}
.h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ff4d4d;
}

  .title {
    margin-top: 0;
  }
  
  /*Input*/

.inputText {
    height: 50px;
    width: 80%;
    border-radius: 5px;
    border: none;

  }
  
.inputDesc {
    height: 200px;
    width: 80%;
    border-radius: 5px;
    border: none;

  }


.fileLabel{
    position: absolute;
    right: 5%;
    top: 50%; 
    padding: 10px 20px;
    background-color: #FF4D4D;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    border: none;
  }

.fileLabel {
    padding: 10px;
    background-color: #ff4d4d;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }
  
.downloadIcon {
    width: 30px;
    height: 30px;
  }


/*Boutons*/

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 4vw;
  margin: 20%;
  background-color: #FF4D4D;
  border-color: white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  }

.infoButton {
    background-color: #ff4d4d;
    border-radius: 20px;
    height:25px;
    width:25px;
    cursor:pointer;
  }

  .buttonAdd {
      justify-content: center;
      align-items: center;
      padding: 1vh 4vw;
      background-color: #FF4D4D;
      border-color: white;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      border-radius: 40px;
      font-weight: 600;
      cursor: pointer;
      border: none;
      display: block; 
      margin: 20px auto 0; 
    }
  

  /*Image*/

  .carrousel{
      max-width: 100%; 
      max-height: 30px; 
      object-fit: cover; 
    }