@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/*Contenu entier*/
.body { 
  display: flex;
  justify-content: center;
  height: 35vh; 
  flex-direction: column;
}

/*Image*/

.height {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  align-items: center;
  object-fit: cover;
  height: 30vh;
  width: 20vb;
  align-content: center;
  width: auto;
}

/*Arrows*/

.parentArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh; 
  margin-top: 2vh;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh; 
  padding-left: 50px;
  cursor: pointer;
}