@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw; 
    height: 15vh; 
}

.logoContainer {
    color: #D32F2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    cursor: pointer;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    margin: 0 5px;
}

.button {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    background-color: #FF4D4D;
    border-radius: 10px;
    width: 10vb;
    height: 10vh;
    height: 50px;
    margin : 30px;
    padding: 5px;
    cursor: pointer;
}

.h1{
    font-family: 'Ledger', serif;
    font-size: 20px;
    margin: 20px;   
    height: auto;
    width: auto;
}

.h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    font-size: 13px;
    border: solid 3px #D32F2F;
    margin: 200px 0px 0px 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
.dropdownMenu a {
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    display: block;
    }