@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
  font-family: 'Montserrat', serif;
}

.main {
  display:grid;
  grid-template-columns: repeat(3, 33.33vw);
  grid-template-rows: repeat(9, 10vh);
  height: 100vh;
  width: 100vw;
}

/*Header style*/

.header {
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:0;
  grid-row-end:1;
}

/*midcontent style*/

.middleContent {
  position: relative;
  background-image:  url("/placeholderappart.jpg");
  background-position: center;
  background-size: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end:5;
  z-index: 0; 
}

.middleContent::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1; 
}

.title {
  font-family: 'Montserrat', serif;
  font-weight: 500px;
  font-style: bold;
  color:#D32F2F;
}
.achat, .vente {
  font-family: 'Montserrat', serif;
  margin-top:10px;
  border-color:#FF4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw; 
  height: 6vh; 
  border-radius:5px;
  color:#D32F2F;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.contenttext {
  font-family: 'Montserrat';
  color: black;
  text-align: justify;
}

.contenttext2 {
  font-family: 'Montserrat';
  font-size: 14px;
  color: black;
  text-align: center;
  margin-left: 9%;
  font-weight: bold;
}

.contenttextp {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  color: black;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

/*lower content style*/

.LleftContent {
  grid-column-start:0;
  grid-column-end:2;
  grid-row-start: 5;
  grid-row-end:8;
  text-align: justify;
  padding-left: 50px;
  padding-right:25px;
  font-family: 'Montserrat', sans-serif;
}

.LmidContent {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start: 5;
  grid-row-end:8;
  padding-top: 20px;
  text-align: center;    
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-style: oblique bold;
}

.LrightContent {
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start: 5;
  grid-row-end:8;
  text-align: justify;
  padding-left: 50px;
  padding-right:25px;
  font-family:'Montserrat', sans-serif;
}