@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.main {
  display:grid;
  grid-template-columns: repeat(3, 33.33vw);
  grid-template-rows: repeat(9, 10vh);
}

/*Header style*/

.header {
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start:0;
  grid-row-end:1;
}

/*midcontent style*/

.middleContent {
  background-image: url("../public/placeholderappart.jpg");
  background-size:auto;
  opacity: 0.5;
  grid-column-start:1;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end:6;
  text-align: center;
  align-items: center;
  color: red;
}

.title {
  margin-top: 50px;
  font-family: "Ledger", sans-serif;
}
.achat {
  display: flex-box;
  align-items: center;
  padding-top:20px;
  padding-left:60px;
  padding-right:60px;
  padding-bottom:20px;
  border-color:red;
  border-radius:5px;
  color:red;
  font-size: larger;
}

.vente {
  display: flex-box;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  padding-top:20px;
  padding-left:60px;
  padding-right:60px;
  padding-bottom:20px;
  border-color:red;
  border-radius:5px;
  color:red;
  font-size: larger;
}
/*lower content style*/

.LleftContent {
  grid-column-start:0;
  grid-column-end:2;
  grid-row-start: 6;
  grid-row-end:10;
  text-align: justify;
  padding-left: 50px;
  padding-right:25px;
  font-family: 'Montserrat', sans-serif;
}

.LmidContent {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start: 6;
  grid-row-end:10;
  text-align: center;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.LrightContent {
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start: 6;
  grid-row-end:10;
  text-align: justify;
  padding-left: 50px;
  padding-right:25px;
  font-family:'Montserrat', sans-serif;
}