/* MyRealtys.module.css */

.main {
  display: grid;
  grid-template-rows: auto 1fr; /* Ajout d'une ligne automatique pour le header et le reste pour le contenu */
  width: 100vw;
  min-height: 100vh;
  background-color: #f4e6e6;
}

.header {
  background-color: white;
  max-height: 14vh;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

.btn {
  background-color: #ff4d4d;
  color: white;
  height: 5vh;
  width: 10vw;
  font-size: larger;
  border: solid 0px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px; /* Espace entre le bouton et les cartes de biens */
}

.realtyCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrage horizontal des RealtyCards */
}

/* Assurez-vous que le reste de vos styles est correctement défini */
