@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.card {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
    border: solid 6px #FF4D4D;
  }

/*Image*/
.carrousel {
    display: flex;

  }

  /*Texte*/

  .p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  .description {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 13px;
    border: solid 1px #FF4D4D;
  }

/*Icone Delete*/

  .delete {
    display:flex;
   justify-content: center;
   align-items: center;
    background-color: #ff4d4d;
    color: white;
    height:50px;
    width: 50px;
    border-radius: 50px;
    cursor:pointer;
  
  }