@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

  .container {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  /*Texte*/

  .title {
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-size: 35px;
    margin: 20px;
    text-align: left;
  }

  .p{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }

  .toConnect{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;

  }

  .p{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  
  .h4{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 14px;
    position: relative;
  }

  .h5 {
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-size: 14px;
    text-decoration: underline; 
    cursor: pointer;
  }

  .h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 120;
    position: relative;
    text-align: center;
  }  
  
  /*Création de ligne à droite et gauche */
  
  .h6::before,
  .h6::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 150px; 
      height: 0.1px; 
      background: black;
  }
  
  .h6::before {
      left: 0px;
  }
  
  .h6::after {
      right: 0px;
  }
  
  

/*Boutons*/

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
    margin-left: 20px;
    background-color: #D32F2F;
    border-color: white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    border: none;
  }

  .connect{
    align-items: center;
    text-align: center;
  }
  
  .connectButton{
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: white;
    cursor: pointer;
    text-decoration: underline; 
    font-weight: 700;
    font-size: 14px;
    }

  .googleButton {
    font-family: 'Montserrat', sans-serif;
  }

  /*Inputs*/
  
  .input {
    height: 40px;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 20px;
    border: 1px rgb(114, 131, 148) solid;
    border-radius: 3px;
    background-color: transparent;
  }
  
  .input:focus {
    outline: none;
    background-color: transparent;
    text-align: justify;
  }

